@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}
.background{
    background-color: #000000 ;
    
}
.navbar-brand{
    padding: 10px;
    margin: 25px;
}
.nav-item{
    padding: 20px;
    
   
}
.nav-item:hover {
    text-decoration: underline white;
  }
  

.menu{
    display: flex;
    justify-content:space-evenly;
    font-size: 18px;
    padding: 5px;
    list-style: none;
    margin: 5px;
    color: white;
}

.imagem-principal{
    margin-left: 37px;
    padding: 0px;
    display: flex;
}


.colecao{
    display: flex;
    color: white;
    background-image: url("/Imagens-HarryPotter/vector1.png");
    width: 1090px;
    height: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    font-family: Wizard World;
    font-size: 28px;
}

.lancamentos .lancamentos__title{
    color:#AC9206;
    padding: 10px;
    margin: 10px 0px 0px 18px;
    border-bottom: solid 2px #AC9206;
    margin-bottom: 20px;
    width: 280px;
    font-family: Wizard World;
    font-size: 20px;
}
.lancamentos .lancamentos__produtos{
    color:#AC9206;
    display:  flex;
    justify-content: space-around;
    
}

.camisetas .camisetas__title{
    color:#AC9206;
    padding: 10px;
    margin: 10px 0px 0px 18px;
    border-bottom: solid 2px #AC9206;
    margin-bottom: 20px;
    width: 280px;
    font-family: Wizard World;
    font-size: 20px;
}

.camisetas .camisetas__produtos{
    color:#AC9206;
    display:  flex;
    justify-content: space-around;
}

.canecas .canecas__title{
    color:#AC9206;
    padding: 10px;
    margin: 10px 0px 0px 18px;
    border-bottom: solid 2px #AC9206;
    margin-bottom: 20px;
    width: 280px;
    font-family: Wizard World;
    font-size: 20px;
}
.canecas  .canecas__produtos{
    color:#AC9206;
    display:  flex;
    justify-content: space-around;
}

.acessorios .acessorios__title{
    color:#AC9206;
    padding: 10px;
    margin: 10px 0px 0px 18px;
    border-bottom: solid 2px #AC9206;
    margin-bottom: 20px;
    width: 280px;
    font-family: Wizard World;
    font-size: 20px;
}
.acessorios .acessorios__produtos{
    color:#AC9206;
    display:  flex;
    justify-content: space-around;
}


.variedades .variedades__title{
    color:#AC9206;
    padding: 10px;
    margin: 10px 0px 0px 18px;
    border-bottom: solid 2px #AC9206;
    margin-bottom: 20px;
    width: 280px;
    font-family: Wizard World;
    font-size: 20px;
}
.variedades .variedades__produtos{
    color:#AC9206;
    display:  flex;
    justify-content: space-around;
}


.comprar{
    color: #AC9206;
    background-color: #1E293B;
    width: 120px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
   
   
    
    
}
button{
    list-style: none;
    margin-left: 175px !important;
    
}

.preco{
    color: white;
}
.caixa-produto{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 310px;
    height: 590px;
    border: 2px solid #AC9206;
    margin: 20px;
    text-align: center;
    padding-top: 4px;
    justify-content: space-around;
    font-family: DM Sans;
}

.menu-inferior{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    padding: 5px;
    align-items: center;
    list-style: none;
    margin: 5px;
    color: white;
}

hr {
    justify-content: center;
    width: 80%;
    margin-top: 20px;
    background: white;
    margin: auto;
  }

.navBarFooter__copyright {
    background: black;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .navBarFooter__copyright p {
    color: white;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
    font-family: DM Sans;
  }