/* Sessão do MENU */

.navbar-brand {
  height: 90px;
  width: 280px;
  padding: 20px 50px;
}

.navbar-nav {
  gap: 30px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px !important;
}

.navbar-nav li:nth-child(2) {
  border-bottom: 2px white solid;
}

.nav-item .nav-link:hover {
  color: #917a50;
}

.nav-item a {
  color: white;
  font-family: DM Sans;
  font-size: 18px;
  justify-content: center;
}

.menu {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  padding: 5px;
  list-style: none;
  margin: 5px;
  color: white;
  font-family: DM Sans;
}

/* Fim da Sessão do MENU */

.bannerPrincipal{
  width: 100%;
  height: 1000px;
}

/* sessao footer */

.menu__footer {
  width: auto;
  position: relative;
  display: block;
  font-size: 18px;
  background-color: black;
}

.footer__logo {
  width: 149px;
  height: 49px;
  left: 96px;
  top: 40px;
  position: relative;
}

.lista__footer {
  width: auto;
  position: relative;
  display: block;
  font-size: 18px;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 22.5px;
  padding-top: 36px;
  padding-bottom: 8px;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  list-style: none;
  display: flex;
}

.lista__footer li a {
  text-decoration: none;
  color: white;
}

.lista__footer li a:hover {
  color: #917a50;
}

.lista__footer li:nth-child(2) {
  border-bottom: 2px white solid;
}

.copyright {
  margin-top: 30px;
  color: white;
  text-align: center;
  font-size: 14px;
  padding-bottom: 20px;
}

.menu__footer .copyright p {
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  text-align: center;
  font-family: DM Sans;
  padding-top: 10px;
}

.footer__linha {
  height: 2px;
  justify-items: center;
  background: white;
  opacity: unset;
  margin: 1px 5%;
}

.body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: DM Sans;
}

.titulo__personagens {
  font-size: 60px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
  font-family: 'Wizard World';
}

.busca {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 20px;
  padding-bottom: 15px;
}

#characterList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: 'DM Sans';
}

.character-card {
  border: 1px solid #917a50;
  padding: 10px;
  margin: 10px;
  width: 300px;
  text-align: center;
}

img {
  width: 237px;
  height: 341px;
}
